{% extends "base.html" %}
{% block page %}
<div class="container">
    <h1 class="mb-5">Verify Phone Number.</h1>
    <form method="post" class="form-group card row col-md-6 p-3">
        <h3 class="p-3">Enter Number sent to {{ user.msisdn }}.</h3>
        <div class="mt-4" id="otp">
            <div class="mt-2">
                <label for="phone">OTP</label>
                <input type="number" name="otp" class="form-control" id="otpField" placeholder="Enter OTP">
            </div>
            <div class="mt-4 d-flex" style="flex-direction: row; justify-content: space-between;">
                <input type="submit" name="verifyOtp" class="btn btn-primary py-3 px-4" value="VERIFY">
            </div>
        </div>
        
    </form>
</div>
{% endblock page %}